.intro {
  padding: 92px 48px 92px;
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 64px;
  }
}
